html {
  font-family: 'Roboto', sans-serif;
}

.logo {
  background: url(../img/m-h-day.jpg);
  padding: 25px 100px 100px 100px;
  border-radius: 0 0 35% 0;
}

.bgc {
  background-color: darkcyan;
}

div > p {
  margin: 0;
}

.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

h1 {
  margin: 100px 0;
  font-size: 70px;
  max-width: 50%;
}

.label {
  margin: 50px 0;
  font-size: 20px;
  max-width: 50%;
  line-height: 1.5;
  opacity: 50%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  font-size: 20px;
  align-items: center;
  margin: 100px 0px;
}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: limegreen;
  color: white;
  font-weight: 600;
}

 button:hover {
  background-color: green;
  cursor: pointer;
  transition: all 0.5s;
}

.nav > a {
  font-size: 20px;
  color: white;
}

.nav > a:hover {
  color: green;
  cursor: pointer;
  transition: all 0.5s;
}

h2 {
  margin: 50px 50px 20px;
  font-size: 30px;
}

main > article {
  display: flex;
  max-width: 60%;
  flex-direction: row;
  margin: 20px 20%;
  line-height: 2;
  padding: 15px;
  background-color: #29293d;
  color: white;
  border-radius: 10px;
}

main > article > div {
  padding: 0 50px;
}
h3 {
  text-align: center;
}
main > article > div > a {
  color: white;
  text-align: center;
}
main > article > div > p {
  text-align: justify;
  padding-bottom: 10px;
}

.logofoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: white;
}

footer {
  background-color: #29293d;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  padding: 30px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  max-width: 65%;
  margin: 80px 17% 0 17%;
  background: linear-gradient(95deg, #40bf40, #3399ff);
  padding: 0 50px 50px 0;
  border-radius: 10px;
}